body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;

}

main {
  background-color: aliceblue;
  flex-grow: 1;
}

.main__inner {
  max-width: 1080px;
  width: 100%;
  min-width: 380px;
  margin: auto;
}

.userForm {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.userForm label[for="content"] {
  display: block;
}