body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;

}

main {
  background-color: aliceblue;
  flex-grow: 1;
  padding-block: 1rem;
}

.main__inner {
  max-width: 1080px;
  width: 100%;
  margin: auto;
}

.userForm {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  gap: 1rem;
}

.userForm label {
  display: block;
  width: 100%;
}

.userForm input, .userForm textarea {
  width: 100%;
  }
  
.userForm textarea {
  resize: vertical;
  min-height: 50px;
}

.form-control:has(button) {
  text-align: right;
}

.timeline {
  max-width: 1080px;
  width: 100%;
  margin: auto;
}

.timeline__inner {
  padding-inline: 1rem;
}

.timeline__inner h3 {
  margin: 0;
}