body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;

}

main {
  background-color: aliceblue;
  flex-grow: 1;
  padding-block: 1rem;
}

.main__inner {
  max-width: 1080px;
  width: 100%;
  margin: auto;
}